<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="new-question-wrapper">
  <div class="title-field">
    <%= form.label "Question Title:" %>
    <%= form.text_field :title %>
  </div>

  <div class="cat-field">
    <%= form.label "Question Topic:" %>
    <%= form.select :category, [ 'Finance','Billing','Admission','Job' ], :prompt => 'Select One' %>
  </div>



  <div class="body-field">
    <%= form.rich_text_area :body %>
  </div>

  <div class="field">
    <%= form.hidden_field :user, :value => current_user.id %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
</div>  
<% end %>
