
  <%= render 'top/topnav' %>

<div class="start">
  <div class="response">
    <div id="table-top">
      <div class="top-1">
        <div id="title">
          <h2>Title</h2>
          <h4><%= @question.title %></h4>
        </div>
      </div>
      <div class="top-2">
      </div>
      <div class="top-1">
        <div id="email">
          <h2>User E-mail</h2>
          <h4><%= User.find(@question.user_id).email %></h4>
        </div>
      </div>
      <div class="top-2">
      </div>
      <div class="top-1">
        <div id="category">
          <h2>Category</h2>
            <h4><%= @question.category %></h4>
        </div>
      </div>
    </div>
    <div class="blank-box">
    </div>


    <div class="question-content">
        <h3>Question:</h3>
        <%= @question.body %>
    </div>

    <div id="answer-box">
      <% if @question.answers != [] %>
            <% @question.answers.each do |answer| %>
            <div class="answers-wrapper">
              <div class="top-top">
              </div>
              <div class="wrapper-top">
                <div class="top-left">
                  <div class="table-3">
                    <h2>Title</h2>
                    <h4><%= answer.title.capitalize %></h4>
                  </div>
                </div>
                <div class="top-middle">
                  <div class="table-4">
                  </div>
                </div>
                <div class="top-right">
                  <div class="table-3">
                    <h2>Employee Contact</h2>  
                    <h4><%= User.find(answer.user_id).email %></h4>
                  </div>
                </div>
              </div>
              <div class="wrapper-middle">
              </div>
              <div class="question-content">
                <h3>Answer:</h3>
                <%= answer.body %>
              </div>

            </div>  
          <% end %>
        </p>
      <% end %>


      <div class="answer-form">
      <% if current_user.employee %>
          <%= form_for @answer do |f| %>

            <%= f.label :title %> 
            <%= f.text_field :title %> 
            <p></p>
              
            <%= f.rich_text_area :body %> 

            <%= f.hidden_field :question_id, value: @question.id %> 

            <%= f.hidden_field :user_id, value: current_user.id  %>

            <%= f.submit "Submit Answer" %>

          <% end %>
      <% end %>
      </div>
    </div>
    <div class= "bottom-keys">
      <%= link_to 'Edit', edit_question_path(@question) %> |
      <%= link_to 'Back', questions_path %>
    </div>

  </div>
</div>