
  <%= render 'top/topnav' %>

  <p id="notice"><%= notice %></p>
<div class="question-wrapper">
  
  <div class="question-title">
     <p>
        <%= @question.title %>
      </p>
  </div>

  <div class="question-topic">
    <p>
      Topic:
        <%= @question.category %>
    </p>
  </div>

  <div class="question-content">
    <p>
      <strong>Body:</strong>
      <%= @question.body %>
    </p>
  </div>

  <div class="question-asker">
    <p>
      <strong>User:</strong>
      <%= User.find(@question.user_id).email %>
    </p>
  </div>
  
</div>

  <% if @question.answers != [] %>
    <p>
    <div id="answer-header">
      Answers <br>
    </div>
      <% @question.answers.each do |answer| %>
      <div class="answers-wrapper">    
        <div class="answer-title">
          <%= answer.title.capitalize %><br>
        </div>
        <div class="answer-body">
          <%= answer.body %><br>
        </div>
        <div class="answer-email">  
          Employee Contact: <%= User.find(answer.user_id).email %><br>
        </div>
      </div>  
      <% end %>
    </p>
  <% end %>


  <div class="answer-form">
  <% if current_user.employee %>
      <%= form_for @answer do |f| %>

        <%= f.label :title %> 
        <%= f.text_field :title %> 
          
        <%= f.label :body %> 
        <%= f.text_area :body %> 

        <%= f.hidden_field :question_id, value: @question.id %> 

        <%= f.hidden_field :user_id, value: current_user.id  %>

        <%= f.submit "Submit Answer" %>

      <% end %>
  <% end %>
  </div>

  <div class="back">
    <%= link_to 'Edit', edit_question_path(@question) %> |
    <%= link_to 'Back', questions_path %>
  </div>
