<%= render 'top/topnav' %>

<div id="background">

<div id="all">
    <div id="profile-top">
        <h3>General Account Settings</h3>
    </div>
    <div id="profile">
        <%= form_with(model: @user, local: true, class:"form_by") do |form| %>
        
        <div id="box_field">
            <h2><%= form.label :Image %></h2>
            <% if current_user.image.attached? %>
                <%= image_tag current_user.image, style: "width: 180px; display: block" %>
            <% end %>

            <%= form.file_field :image, id: "box_field" %>
        </div>
        <div id="box_field">
            <h2><%= form.label :Name %></h2>
            <h2><%= form.text_field :name, size: "35" %></h2>
        </div>
        <div id="box_field">
            <h2><%= form.label :Email %></h2>
            <h2><%= form.text_field :email, size: "35" %></h2>
        </div>
        <div id="box_field">
            <h2><%= form.label :Company %></h2>
            <h2><%= form.text_field :company, size: "35" %></h2>
        </div>
        <% if current_user.expertise.split('').count > 0 %>
            <div id="box_field">
            <h2><%= form.label :Expertise %></h2>
            <h2><%= form.text_field :expertise, size: "35" %></h2>
            </div>
        <% end %>


        <div id="save">
            <%= form.button "Save" %>
        </div>
        <div id="greeting">
            <p>Thank you for being a memeber of Flatiron Consulting!</p>
        </div>
        <% end %>

    </div>
</div>
</div>


