<%= render 'top/topnav' %>

    <div id="all">
    
        <div id="left">
            <div id="pic">
                <% if current_user.employee = "false" %>
                    <%= image_tag("semin.jpeg") %>
                <% end %>
            </div>
            <div id="profile">
                <% if current_user.name %>
                <h3>Name: <%= current_user.name %></h3>
                <% end %>
                <% if current_user.company %>
                <h3>Company: <%= current_user.company %></h3>
                <% end %>
                <div id="user-email">
                    <h3>Email: <%= current_user.email %></h3>
                </div>
            </div>
        </div>
        <div id="middle">
            <div id="middle-top">
                <h3>General Account Settings</h3>
            </div>
            <div id="list">
                
            <% if current_user.name && current_user.company %>
                <p>Thank you for being a memeber of Flatiron Consulting!</p>
            <% else %> 
                <%= form_with(model: @user, local: true) do |form| %>
                    <div id="name">
                        <h3><%= form.label :Name %></h3>
                        <h3><%= form.text_field :name%></h3>
                    </div>
                    <div id="company">
                        <h3><%= form.label :Company %></h3>
                        <h3><%= form.text_field :company %></h3>
                    </div>
                    <div id="email">
                        <h3><%= form.label :Email %></h3>
                        <h3><%= current_user.email %></h3>
                    </div>
                    <div id="middle-bottom">
                        <%= form.button "Save" %>
                    </div>
               <% end %>
            <% end %>   
            </div>
        </div>
    </div>


