<%= render 'top/topnav' %>

<div class='start'>
  <div class='search-bar'>
      <%= form_tag(users_path, method: :get) do %>
        <%= text_field_tag(:search, params[:search], size: "32", placeholder: "Search by Company") %><br/><br/>
        <%= submit_tag ("Search") %>
      <% end %>
  </div>
  <div class="response">
      <div class="response-top">
        <h1>Previous Responses</h1>
      </div>
      <div class="response-bottom">
        <table class="table1">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Title</th>
              <th>Body</th>
              <th>Time of upload</th>
              <th colspan="3">Options</th>
            </tr>
          </thead>

          <tbody>
            <% @answers.each do |answer| %>
              <tr>
                <td><%= answer.question.user.name %></td>
                <td><%= answer.question.user.email %></td>
                <td><%= answer.title %></td>
                <td><%= answer.body %></td>
                <td><%= answer.updated_at %></td>
                <td><%= link_to 'Show', answer %></td>
                <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
                <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>



