<%= render 'top/topnav' %>


<div class='start'>
  <div class='response'>
      <table id="show-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Response</th>
            <th>Question's user email</th>
            <th>Question</th>
            <th>Time of upload</th>
          </tr>
        </thead>

        <tbody>
            <tr>
              <td><%= @answer.title %></td>
              <td><%= @answer.body %></td>
              <td><%= @answer.question.user.email %></td>
              <td><%= @answer.question.body %></td>
              <td><%= @answer.updated_at %></td>
            </tr>
        </tbody>
      </table>
  </div>
</div>

  