
<%= render 'top/topnav' %>

<div id="background-consultants">
    <div id="all-consultants">
        <div id="consultants">
            <h3>&#11088; Our Top Consultants &#11088;</h3>
        </div>

        <div class="consultant-container">
        <div class="consultant1">
            <div class="consultant-top">
                <h3>Greg Dwyer</h3>
            </div>
            <div class="consultant-pic">
                <%= image_tag("greg.jpeg") %>
            </div>
            <div class="consultant-bottom">
                <h4>Field of expertise: Finance</h4>
            </div>
        </div>
        
        <div class="consultant1">
            <div class="consultant-top">
                <h3>Ian Grubbs</h3>
            </div>
            <div class="consultant-pic">
                <%= image_tag("ian.jpeg") %>
            </div>
            <div class="consultant-bottom">
                <h4>Field of expertise: Billing</h4>
            </div>
        </div>
        
        <div class="consultant1">
            <div class="consultant-top">
                <h3>Alex Schelchere</h3>
            </div>
            <div class="consultant-pic">
                <%= image_tag("alex.png") %> 
            </div>
            <div class="consultant-bottom">
                <h4>Field of expertise: Admission</h4>
            </div>  
        </div>
        
        <div class="consultant1">
            <div class="consultant-top">
                <h3>Tashawn Williams</h3>
            </div>
            <div class="consultant-pic">
                <%= image_tag("tashawn.jpeg") %>
            </div>
            <div class="consultant-bottom">
                <h4>Field of expertise: Job</h4>
            </div>
        </div>
    </div>
</div>