<%= render 'top/topnav' %>


<div class="start">
    <% if current_user.employee %>
        <%= link_to 'Unanswered Questions', questions_path %>
    <% else %>
    <div id="consultants">
        <h3>&#11088; Our Top Consultants &#11088;</h3>
    </div>
    <div class="consultant-container">
        <div id="consultant1">
            <div class="consultant-top">
                <h3>Greg Dwyer</h3>
            </div>
            <div class="consultant-pic">
                <%= image_tag("greg.jpeg") %>
            </div>
            <div class="consultant-bottom">
                <h4>Field of expertise: Finance</h4>
            </div>
        </div>
        <div id="consultant2">
            <div class="consultant-top">
                <h3>Ian Grubbs</h3>
            </div>
            <div class="consultant-pic">
                <%= image_tag("ian.jpeg") %>
            </div>
            <div class="consultant-bottom">
                <h4>Field of expertise: Billing</h4>
            </div>
        </div>
        <div id="consultant3">
            <div class="consultant-top">
                <h3>Alex Schelchere</h3>
            </div>
            <div class="consultant-pic">
                <%= image_tag("alex.png") %> 
            </div>
            <div class="consultant-bottom">
                <h4>Field of expertise: Admission</h4>
            </div>  
        </div>
        <div id="consultant4">
            <div class="consultant-top">
                <h3>Tashawn Williams</h3>
            </div>
            <div class="consultant-pic">
                <%= image_tag("tashawn.jpeg") %>
            </div>
            <div class="consultant-bottom">
                <h4>Field of expertise: Job</h4>
            </div>
        </div>
    </div>

    <% end %>

</div>
